<%= form_with(model: model) do |form| %>
  <% if model.errors.any? %>
      <%= render 'layouts/errors', errors: model.errors %>

  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>


  <div>
    <%= form.label :category_id, style: "display:block" %>
    <%= form.collection_select :category_id, @categories, :id , :name %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
