<div id="<%= dom_id model %>">
  <p>
    <strong>Name:</strong>
    <%= model.name %>
  </p>

  <p>
    <strong>Cod:</strong>
    <%= model.cod %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= model.brand_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= model.category_id %>
  </p>

</div>
