<div id="<%= dom_id model_table %>">
  <td>
    <%= model_table.name %>
  </td>

  <td>
    
    <%= model_table.cod %>
  </td>

  <td>
    
    <%= model_table.brand.name %>
  </td>

  <td>
    <%= model_table.category.name %>
  </td>

  <td>
      <%= link_to "Show this model_table", model_table %>
  </td>

</div>
