
<%= render @model %>



<% if @model.articles.any? %>
  <h2>Articles for <%= @model.name %></h1>
  <%= render 'articles/article_table',  articles: @model.articles%>
<% end %>

<div>
  <%= link_to "Edit this model", edit_model_path(@model) %> |
  <%= link_to "Back to models", models_path %>

  <%= button_to "Destroy this model", @model, method: :delete %>
</div>
