<div id="<%= dom_id article %>">

  <p>
    <strong>Cod:</strong>
    <%= article.get_code %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= article.model.brand.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= article.model.name %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= article.color.name %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= article.num %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= article.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= article.price %>
  </p>

  

  

  

</div>
