<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <%= render 'layouts/errors', errors: article.errors%>
  <% end %>


  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :num, style: "display: block" %>
    <%= form.number_field :num %>
  </div>


  <div>
    <%= form.label :color_id, style: "display:block" %>
    <%= form.collection_select :color_id, @colors, :id, :name, {include_blank: 'Select a color'} %>
  </div>


  <div>
    <%= form.label :model_id, style: "display:block" %>
    <%= form.collection_select :model_id , @models, :id , :brand_with_model, {include_blank: 'Select a model'} %>
  </div>

  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
