<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>


  <div>
    <%= form.label :color_id, style: "display:block" %>
    <%= form.select :color_id, @color_options %>
  </div>


  <div>
    <%= form.label :model_id, style: "display:block" %>
    <%= form.select(:model_id, @model_options) %>
  </div>

  <div>
    <%= form.label "From", style: "display:block" %>
    <%= form.number_field :from %>
  </div>

  <div>
    <%= form.label "To", style: "display:block" %>
    <%= form.number_field :to %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
