  <div class="CartContainer">
        <div class="Header">
            <h3 class="Heading">Shopping Cart</h3>
            <h5 class="Action">
              <%= link_to 'Empty cart', @cart, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
            </h5>
        </div>
            <% @cart.line_items.each do |line_item| %>

              <div class="Cart-Items">
                  <div class="about">
                    <h1 class="title"> <%= line_item.article.model.name%>  </h1>
                    <h3 class="subtitle">Nº <%= line_item.article.num%> - <%= line_item.article.color.name%> </h3>
                  </div>
                  <div class="counter">
                    
                    <%= button_to '+', line_items_path(article_id: line_item.article) %>
                    
                    <div class="count"> <%= line_item.quantity%> </div>
                    
                    <% if line_item.quantity!=1 %>
                      <%= button_to '-', decrement_line_item_path(line_item), method: :put %>
                    <% end %>
                  </div>
                  <div class="prices">
                    <div class="amount"> <%= number_to_currency(line_item.total_price) %> </div>
                    <div class="remove"> 
                      <%= link_to 'Delete', line_item_path(line_item),
                      data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                    </div>
                  </div>
              </div>
            <% end %>

        
      <hr> 
      <div class="checkout">
      <div class="total">
        <div>
          <div class="Subtotal">Sub-Total</div>
          <div class="items"> <%= @cart.totals[:total_items]%> </div>
        </div>
        <div class="total-amount"><%= number_to_currency(@cart.totals[:sum]) %></div>
      </div>
      <%= button_to "Checkout", new_order_path, method: 'get', class: "button" %>
      <%= button_to "Continue shopping", store_index_path, method: 'get' ,  class: "button" %></div>
</div>
    </div>

