<!DOCTYPE html>
<html>
  <head>
    <title>Zapateria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%=link_to "Brands", brands_path %>
      <%=link_to "Colors", colors_path %>
      <%=link_to "Categories", categories_path %>
      <%=link_to "Models", models_path %>
      <%=link_to "Articles", articles_path %>
      <%=link_to "Store", store_index_path %>
      <%=link_to "Cart", cart_path(@cart) %>
    </nav>
    <%= yield %>
  </body>
</html>
